{% verbatim %}

<h1 ng-show="!group">Loading</h1>

<h1 ng-show="group">{{ group.name }}
<span class="label label-default">{{ words.length }} words</span>
<a href="/cms/{{ group.id }}/add" class="btn btn-primary">
  Upload more pictures
  <i class="glyphicon glyphicon-upload"></i>
</a>
</h1>

<form class="form-horizontal" role="form" style="margin-top:40px">
  <div class="form-group form-group-lg">
    <div class="col-sm-10 input-group">
      <input class="form-control" type="text" ng-model="search.word" id="formGroupInputLarge" placeholder="Search words">
      <span class="input-group-addon" ng-click="search.word=''" ng-show="search.word.length">
        <i class="glyphicon glyphicon-remove" ng-click="search.word=''"></i>
      </span>
    </div>
  </div>
</form>

<p>
  <span ng-repeat="word in filtered_words = (words | filter:foundWords | orderBy:'word')">
    <button class="label label-default"
     data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus"
     popover-title="{{ word.word }}"
     popover="{{ word.explanation }}"
     Popover-animation="true" popover-trigger="mouseenter">{{ word.word }}</span>
  </button>
  <i ng-show="!filtered_words.length && search.word">Nothing found</i>
</p>


<div ng-repeat="question in filtered_questions = (questions | filter:foundPictures)" class="crop"
popover-title="Words that use this"
popover="{{ (question._words && question._words.join(', ')) || 'None! :('  }}"
Popover-animation="true" popover-trigger="mouseenter"

>
  <img ng-src="{{ question.thumbnail.url }}"
       width="{{ question.thumbnail.width }}"
       height="{{ question.thumbnail.height }}"
       alt="{{ question._words.join(', ') }}"

       class="img-thumbnailx">
   <span class="badge"
    ng-class="{'badge-0': question._words.length==0,'badge-1': question._words.length==1,'badge-N': question._words.length>1}"
   title="{{ question._words.join(', ') }}"
   >{{ question._words.length }}</span>
</div>


{% endverbatim %}
